# ==========================
# Docker Images
# ==========================
POSTGRES_IMAGE=postgres:18
BACKEND_IMAGE=bmv_server
FRONTEND_IMAGE=bmv_frontend

# ==========================
# Container Names
# ==========================
POSTGRES_CONTAINER_NAME=postgres_bmv
BACKEND_CONTAINER_NAME=bmv_backend
FRONTEND_CONTAINER_NAME=bmv_frontend

# ==========================
# PostgreSQL
# ==========================
DATABASE_URL="postgresql://postgres:123456@localhost:5432/bmv_dev"
# ==========================
# Backend
# ==========================
BACKEND_PORT=3000
BASE_URL=http://localhost:3000
NODE_ENV=production
JWT_SECRET=change_me_to_a_long_random_secret
RAZORPAY_KEY_ID='razor_pay_id'
RAZORPAY_SECRET='razor_pay_secret'

# ==========================
# Frontend
# ==========================
FRONTEND_PORT=5173

# Uploads
UPLOAD_DIR=/app/uploads
