Django==5.2.15
djangorestframework==3.17.1
PyJWT==2.13.0
cryptography==49.0.0
gunicorn==23.0.0
psycopg2-binary==2.9.10
redis==5.2.1
celery==5.4.0
django-celery-results==2.5.1
setuptools<82
dj-database-url==2.3.0
python-dotenv==1.0.1
whitenoise==6.8.2
django-jazzmin==3.0.1
razorpay==1.4.2
google-auth==2.40.3
cloudinary==1.45.0
