PORT=your_backend_running_port
MONGODB_URI=your_mongodb_connection_string
JWT_ACCESS_SECRET=your_access_token_secret
JWT_REFRESH_SECRET=your_refresh_token_secret
ADMIN_NAME=BookMyVenue Admin
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=your_admin_password_here
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=