PORT=3000
DATABASE_URL="postgresql://username:password@host:port/database?sslmode=require"

REDIS_URL="redis://localhost:6379"

EMAIL_USER=""
EMAIL_PASS=""

SIGNUP_OTP_TTL_SECONDS=600
SIGNUP_RESEND_COOLDOWN_SECONDS=60

JWT_SECRET=your_secret_key
JWT_EXPIRES_IN=7d

FORGOT_PASSWORD_OTP_TTL_SECONDS=600
FORGOT_PASSWORD_COOLDOWN_SECONDS=60