VITE_API_BASE_URL=http://127.0.0.1:8000
VITE_USERS_ENDPOINT=/api/v1/auth/users?skip=0&limit=20
VITE_VENUE_OWNERS_ENDPOINT=/api/v1/auth/venue-owner?skip=0&limit=20
VITE_VENUE_OWNER_STATUS_ENDPOINT=/api/v1/auth/venue-owner/update-status
