GIN_ENGINE_PORT=8000
GIN_MODE=development

DB_HOST = "localhost"
DB_USER = "postgres"
DB_PASSWORD = "postgres"
DB_NAME = "bookmyvenue"
DB_PORT = 5432
DB_SSLMODE = "disable"
DB_TIMEZONE = "Asia/Kolkata"

LOGIN_TOKEN_SECRET = "your_jwt_secret_key"
LOGIN_TOKEN_EXPIRATION_MINUTES = 10

REFRESH_TOKEN_SECRET = "your_refresh_jwt_secret_key"
REFRESH_TOKEN_EXPIRATION_HOURS = 10080