# Server
PORT=3000

# PostgreSQL connection string
# Format: postgresql://USER:PASSWORD@HOST:PORT/DATABASE
DATABASE_URL="postgresql://postgres:your_password@localhost:5432/BookMyVenue"

# JWT
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRES_IN=1d
